<h1>【GamersPlanner】会員登録が完了しました！</h1>
<p>※このメールはシステムからの自動送信です。</p>
<p><%= @user.name %> さん、</p>
<p>この度は、GamersPlannerにご登録いただき誠にありがとうございます。</p>
<p>パスワードはお忘れのないようお願いいたします。</p>
<br>
<p>会員登録すると、予定表のステータスを保存しておく事やDiscordへの連携機能を使用できます！</p>
<p>今後ともGamersPlannerをよろしくお願いいたします。</p>
<br>
<p>--------------------------------</p>

<p><strong>GamersPlanner</strong></p>
<p>
  <%= link_to "https://gamersplanner.com", "https://gamersplanner.com", target: "_blank", rel: "noopener noreferrer" %>
</p>

<p><strong>お問い合わせ</strong></p>
<p>
  <%= link_to "お問い合わせフォームはこちら", "https://docs.google.com/forms/d/e/1FAIpQLSfideSPtQrAMIWZeOi9Pst5N6P6Mgjs13o4xO3dTSRecK7H2Q/viewform?usp=sharing", target: "_blank", rel: "noopener noreferrer" %>
</p>

<p>--------------------------------</p>
