<footer class="text-white body-font bg-stone-500 bg-opacity-75 footer-fixed w-full">
  <div class="container px-5 py-8 mx-auto flex flex-col items-center">
    <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-44">
      <a class="text-white font-mplus" href="#">お問い合わせ</a>
      <a class="text-white font-mplus" href="#">プライバシーポリシー</a>
      <a class="text-white font-mplus" href="#">利用規約</a>
    </div>
    <p class="text-sm text-white mt-4 md:mt-0 font-mplus self-center md:self-start">©2025-GamersPlanner</p>
    <a class="text-white font-mplus md:end-start" href="#">GitHub</a>
  </div>
</footer>