<footer class="text-white body-font bg-stone-500">
  <div class="container px-5 py-8 mx-auto flex flex-col items-center">
    <div class="flex flex-row items-center space-x-40">
      <a class="text-white font-mplus" href="#">お問い合わせ</a>
      
      <a class="text-white font-mplus" href="#">プライバシーポリシー</a>
      <a class="text-white font-mplus" href="#">利用規約</a>
    </div>
    <p class="text-sm text-white mt-4 self-start font-mplus">©2025-GamersPlanner</p>
    <a class="text-white self-end font-mplus" href="#">GitHub</a>
  </div>
</footer>