<div class="flex items-center justify-center min-h-screen font-mplus">
  <div class="bg-white w-full max-w-6xl mx-auto mt-[-380px] overflow-y-auto" style="max-height: calc(100vh - 160px);">
    <h2 class="text-2xl font-bold text-left">参加者用の予定表が作成されました。</h2>
    <h2 class="text-2xl font-bold text-left">以下のURLで予定表を共有しましょう!</h2>
    <br>
    <div class="border border-black text-black p-4 rounded-lg mb-4">
     <%#= トークンからURLとクエリパラメータ付与して生成 %>  
        <a href="<%= request.base_url + event_schedule_inputs_by_url_path(@event.url) %>">
    <%= request.base_url + event_schedule_inputs_by_url_path(@event.url) %>
        </a>
    </div>
      <div class="flex justify-center">
        <%= link_to request.base_url + event_schedule_inputs_by_url_path(@event.url) , class: 'relative h-12 overflow-hidden rounded bg-orange-400 px-5 py-2.5 text-white transition-all duration-300 hover:bg-orange-500 hover:ring-2 hover:ring-neutral-800 hover:ring-offset-2' do %>
          <span class="relative font-mplus">予定表表示</span>
        <% end %>
      </div>
  </div>
</div>
