/*フォントM PLUS 1pとRajdhaniをインストール*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/*背景をデフォルトに設定*/
.bg-custom {
  background-size: cover;
  background-position: center;
}

/* フッターをページの下側に固定 */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* 下矢印をホバー */
.svg-hover-animation {
  transition: transform 0.3s ease;
}

.svg-hover-animation:hover {
  transform: translateY(5px);
}